*~
#*
*.log
*.ps
*.eps
*.tex
*.aux
*.bbl
*.blg
*.dvi
*.pdf
*.csv
*.DAT
*.gz
exozippy/
pngs/
examples/*/*.idl
examples/*/*.txt
examples/*/fitresults
examples/*/*.bak
sed/mist/feh*
sed/mist/*.txz
sed/filtercurves/*.xml
parsec/prosen
